<div class="card">
    <img class="card__image" src="https://via.placeholder.com/150" alt="<%= product.name %>">
    <h3 class="card__title"><%= product.name %></h3>
    <p class="card__description"><%= product.description %></p>
    <p class="card__price"><%= product.price.toFixed(2) %> PLN</p>
    <a href="/products/delete/<%= product.name %>">Usuń</a>
    <form action="/add" method="POST">
        <input type="hidden" name="name" value="<%= product.name %>">
        <input type="hidden" name="description" value="<%= product.description %>">
        <input type="hidden" name="price" value="<%= product.price %>">
        <button type="submit">Dodaj do koszyka</button>
    </form>
</div>
